.navbar{
    background-color:black;
}

.navbar .navbar-brand{
    background-color: black;
    color: white;
    font-weight:bold;
}

.navbar .navbar-brand:hover{
    background-color: black;
    color: #3498db;
}

.navbar .nav > li > a{
    background-color: black;
    color: white;
}

.navbar .nav > li > a:focus,
.navbar .nav > li > a:hover{
    background-color: #3498db;
    color: white;
}

.btn{
    border-radius: 0;
}

#button{
    background-color:#3498db;
    color:white;
border-radius() !important;
}

#hello{
border-radius() !important;
}

.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus{
    background-color: black;
    color: white;
    font-weight:bold;
}