<!DOCTYPE html><html><head><!--<link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />-->
<link rel="stylesheet" href="../../public/libs/bootstrap/dist/css/bootstrap.css" />
<link rel="stylesheet" href="../../public/stylesheets/site.css" />

<script src="../../public/libs/jquery/dist/jquery.js"></script>
<script src="../../public/libs/angular/angular.js"></script>
<script src="../../public/libs/angular-route/angular-route.js"></script>
<script src="../../public/libs/angular-resource/angular-resource.js"></script>
<title>PI Pricing</title></head><body ng-app="app"></body></html>