doctype
html(ng-app='pricing')
   head
      include links
      include scripts
      title PI Pricing
   body(ng-controller='mainController as main')
      include menu_bar.html
      block main-content