script(type='text/javascript', src='/libs/jquery/dist/jquery.js')
script(type='text/javascript', src='/libs/angular/angular.js')
script(type='text/javascript', src='/libs/angular-route/angular-route.js')
script(type='text/javascript', src='/libs/angular-resource/angular-resource.js')
script(type='text/javascript', src='/app/app.js')
script(type='text/javascript', src='/controllers/mainController.js')


